################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
*.Producer.csproj.user
*/.config/dotnet-tools.json
**/appsettings.Development.json
